ol {
    list-style: decimal;
    padding-left: 2em;
}
ul {
    list-style: disc;
    padding-left: 2em;
}
ul.task-list,
ul.task-list li.task-list-item {
    list-style-type: none;
    list-style-image: none;
}
