body {
    font-family: 'Roboto Slab', serif;
}

.avatar {
    border-radius: 50%;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    margin-top: 1rem;
    max-width: 5rem;
}
h1 {
    font-family: 'PT Sans', sans;
    font-weight: bold;
    text-align:center;
    width:100%;
    margin-bottom:0.8rem;
}

body {
    color: #24292e;
}

a         { color: #0366d6; }
a:link    { color: #0366d6; }
a:visited { color: #2386f6; }
a:hover   { color: #2386f6; }
a:active  { color: #2386f6; }

ul.task-list,
ul.task-list li.task-list-item {
    list-style-type: none;
    list-style-image: none;
}

/* Bottom navigation */
.go-to-top {
    scroll-behavior: smooth;
    float:left;
}
.social-icon {
    float:right;
    padding-left:0.88rem;
}
